################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IHearVoicesData/Audio
/IHearVoicesData/Motion
/IHearVoicesData
/Utility/JsonParser/JsonParser/.vs/JsonParser/v15
/Utility/JsonParser/JsonParser/JsonParser/obj/Debug
