################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IHearVoicesData/Audio
/IHearVoicesData/Motion
/IHearVoicesData
/Utility/JsonParser/JsonParser/.vs
/Utility/JsonParser/JsonParser/JsonParser/obj
*.DS_Store
/Utility/JsonParser/JsonParser/JsonParser/bin
/Utility/JsonParser/JsonParser/packages
