################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IHearVoicesData/Audio
/Utility/JsonParser/JsonParser/.vs
/Utility/JsonParser/JsonParser/JsonParser/obj
*.DS_Store
/Utility/JsonParser/JsonParser/JsonParser/bin
/Utility/JsonParser/JsonParser/packages
*.json
/IHearVoicesData/Motion/CSV/.ipynb_checkpoints
*.csv
*.docx
*.xlsx
/IHearVoicesData/Motion/CSV/checkpoint
